
.taskleiste {
    font-size: 176%;
}
body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color:rgb(75, 73, 73);
    margin-top: -2em;
    color: white;
}
#tasküs{
    color: rgb(38, 142, 206);
}
li{
    list-style: none;
}
p{
    font-size:x-large;
    text-align: left;
    margin-left: 4.5em;
    margin-right: 4em;
}
h1{
    text-align: center;
    color: rgb(38, 142, 206);
    font-size: 500%;
}
.navbar-toggler{
    border-radius: 1px solid white;
}
h2{
    color: rgb(38, 142, 206);
    margin-left: 3.4em;
    font-size: 200%;
    text-decoration: underline;
}
.wm2018{
    margin-left: 12em;
}
table, th {
    border: 0.1em solid lightgrey;
    border-collapse: collapse;
    width: 10em;
    height: 3em;
    text-align: center;
    text-decoration: none;
}
td{
    border-bottom: 0.1em solid lightgrey;
}
a:visited{
    color:rgb(12, 180, 180);
}
a{
    text-decoration: none;
    margin-top: -0.2em;
}
.groupa{
    margin-left: 4%;
}
.groupb{
    margin-left: 30%;
    margin-top: -12.1%;
}
.groupc{
    margin-left: 56%;
    margin-top: -12.1%;
}
.groupd{
    margin-left: 82%;
    margin-top: -12.1%;
}
.groupe{
    margin-top: 7%;
    margin-left: 4%;
}
.groupf{
    margin-left: 30%;
    margin-top: -12.1%;
}
.groupg{
    margin-left: 56%;
    margin-top: -12.1%;
}
.grouph{
    margin-left: 82%;
    margin-top: -12.1%;
}
img{
    border: 0.1em solid lightgrey;
    margin-top: 0.2em;
}