body{
    background-color: rgb(75, 73, 73);
    color:white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    hyphens: auto;

}
p{
    font-size: 140%;
    margin-left: 7.1%;
    margin-right: 10%;
    hyphens: auto;
}
#xbutton {
    background-color: white;
}
#logoName {
    color: rgb(38, 142, 206);
    font-size: 180%;
    margin-left: 6.4%;
    font-weight: bold;
}
#offcanvasNavbarLabel {
    color: rgb(38, 142, 206);
    font-weight: bold;
    background-color: dark;
}
#offnavbarColor:hover{
    background-color: rgb(51,51,51);
}
.dropdown-menu {
    background-color: rgb(30,30,30);
}
#offnavbarColor {
    color: white;
}
h2 {
    margin-left: 7%;
    font-size: 200%;
}
h1,h2{
    color: rgb(38, 142, 206);
    text-decoration: underline;
}
h1{
    margin-left: 7%;
    text-align: left;
    text-transform: uppercase;
    font-size: 260%;
}
a {
    text-decoration: none;
}
a:visited {
    color: rgb(126, 190, 190);
}
a:link {
    color: rgb(126, 190, 190);
}
a:hover {
    color: blueviolet;
}
table, tr, td, th{
    border: 0.05em solid lightgray;
    border-collapse: collapse;
    padding: 1%;
    margin-left: 7%;
}
tr:hover {
    background-color: rgb(145, 139, 139);
}
#PictureofWC {
    float: right;
    width: 13%;
    margin-right: 10%;
    margin-left: 1%;
}
.ersteTabelle{
    width: 50%;
    font-size: 110%;
}
#Soccer{
    float: right;
    width: 30%;
    margin-right: 20%;
    margin-top: 2.5%;
}
.zweiteTabelle{
    width: 30%;
    font-size: 140%;
    margin-top: 2%;
}
