.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: 40%;
    border: 0.1em solid lightgrey;
}
h1{
    text-align: center;
    font-size: 700%;
}
body{
    background-color: rgb(75, 73, 73);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}
table{
    border: 2px solid black;
    width: 50%;
}
th,td{
    border: 2px solid black;
    font-size: 110%;
    text-align: center;
}
th{
    color: rgb(38, 142, 206);
    font-size: 140%;
}
#centerText{
    color: rgb(38, 142, 206);
    font-size: 140%;
    text-align: center;
}
#squad{
    color: rgb(38, 142, 206);
    font-size: 400%;
    margin-left: 44%;
}
#spieler{
    margin-left: 25%;
}