.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 49%;
    height: 49%;
    border: 0.1em solid lightgrey;
}
h1{
    text-align: center;
    font-size: 800%;
}
#xbutton {
    background-color: white;
}
#logoName {
    color: rgb(38, 142, 206);
    font-size: 180%;
    margin-left: 6.4%;
    font-weight: bold;
}
#offcanvasNavbarLabel {
    color: rgb(38, 142, 206);
    font-weight: bold;
    background-color: dark;
}
#offnavbarColor:hover{
    background-color: rgb(51,51,51);
}
.dropdown-menu {
    background-color: rgb(30,30,30);
}
#offnavbarColor {
    color: white;
}
body{
    background-color: rgb(75, 73, 73);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}
table{
    border: 2px solid black;
    width: 70%;
}
th,td{
    border: 2px solid black;
    font-size: 130%;
    text-align: center;
}
th{
    color: rgb(38, 142, 206);
    font-size: 160%;
}
#centerText{
    color: rgb(38, 142, 206);
    font-size: 160%;
    text-align: center;
}
#squad{
    color: rgb(38, 142, 206);
    font-size: 500%;
    text-align: center;
    margin-top: 10%;
}
#spieler{
    margin-left: 15%;
}