.all{
    background-color:white;
    color: black;
    border-radius: 20px;
}
body{
    background-image: linear-gradient(to top,rgb(11, 148, 228),cyan);
    color:black;
    margin-left: 1cm;
    margin-right: 1cm;
    margin-top: 1cm;
    margin-bottom: 1cm;
}
p{
    margin-left: 2cm;
}
h1,h2{
    margin-left: 2cm;
    color: rgb(38, 142, 206);
    text-decoration: underline;
}
h1{
    text-align: left;
    text-transform: uppercase;
    font-size: 230%;
}
#PictureofWM{
    float: right;
    margin-right: 5cm;
    height: 30em;
    width: 20em;
   
}
#Soccer{
    float: right;
    height: 20em;
    width: 40em;
}
table, th, td {
    border-collapse: collapse;
    border: 1px solid black;
    margin-left: 2cm;
    width: 40%;
    height: 50%;
    text-align: center;
}
a:link{
    color: blue;
}
a:visited{
    color: green;
}