#games{
    margin-left: 21.75em;
    margin-top: -20.4em;
}
#spiele{
    width: 40%;
    margin-left: 53em;
    margin-top: 2em;
}
#squad{
    margin-left: 6em;
}
#spieler{
    width: 45%;
    border: 0.1em solid white;
    border-collapse: collapse;
    padding: 0.4em;
    margin-left: 2.5em;
    margin-top: 2em;
    background-color: rgb(75, 73, 73);
    color: white;
}
th{
    border: 0.1em solid white;
    background-color: rgb(38, 142, 206);
    border-collapse: collapse;
    color: white;
}
td{
    border: 0.1em solid white;
    border-collapse: collapse;
    color: white;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 0.1em solid lightgrey;
}
h1 {
    font-size: 800%;
    margin-top: 0.7em;
    color: rgb(38, 142, 206);
    text-align: center;
}
h2 {
    font-size: 300%;
    margin-top: 2.7em;
    margin-left: 18%;
    color: rgb(38, 142, 206);
}

body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:black;
    background-color: rgb(75, 73, 73);
}
#centerText {
    text-align: center;
    font-weight: bold;
    color: rgb(38, 142, 206);
    font-size: 110%;
}
.taskleiste {
    margin-top: -0.3em;
    font-size: 155%;
    width: 100%;
}