h1 {
    text-align: center;
    margin-top: 1%;
}
#punkte{
    margin-top: 2%;
    margin-left: 47%;
}
#xbutton {
    background-color: white;
}
.indexTeam1{
    margin-left: 10%;
    width: 20%;
    margin-right: 15%;
}
.indexTeam2{
    width: 20%;
    margin-left: 15%;
}
body {
    background-image:url("./resources/images/background4.jpg");
    background-repeat: repeat;
}
#logoName {
    color: rgb(38, 142, 206);
    font-size: 180%;
    margin-left: 6.4%;
    font-weight: bold;
}
#offcanvasNavbarLabel {
    color: rgb(38, 142, 206);
    font-weight: bold;
    background-color: dark;
}
#offnavbarColor:hover{
    background-color: rgb(51,51,51);
}
.dropdown-menu {
    background-color: rgb(30,30,30);
}
#offnavbarColor {
    color: white;
}

.table {
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    color: white;
    font-size: 130%;
    border-radius: 15px;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    color: white;
}
td{
    font-size: 200%;
}

.flagIcon {
    width: 15%;
}

.betButton {
    background-color: gold;
    margin-bottom: 25%;
}

.hidden {
  display: none;
}

.inputField {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    font-size: 150%;
    color: white;
}

.input {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flag {
    width: 70%;
}

#winnerCheck1 {
    width: 12%;
    height: 100%;
}

#winnerCheck2 {
    width: 12%;
    height: 100%;
}

#team1 {
    margin-top: -7%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#team2 {
    margin-top: -7%;
    display: flex;
    justify-content: center;
    align-items: center;
}


#goals2 {
    width: 30%;
    height: 80%;
}

#goals1 {
    width: 30%;
    height: 80%;
}

.marginRight {
    margin-right: 5%;
}

.submitBtn {
    margin-top: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#header {
    margin-top: 5%;
    text-align: center;
    text-decoration: underline;
    color: white;
}