body{
    background-color: rgb(75, 73, 73);
    color:white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    hyphens: auto;
    
}
.taskleiste {
    font-size: 155%;
}
p{
    font-size: 140%;
    margin-left: 4.8em;
    margin-right: 11em;
    hyphens: auto;
}
h2 {
    margin-left: 3.4em;
    font-size: 200%;
}
h1,h2{
    color: rgb(38, 142, 206);
    text-decoration: underline;
}
h1{
    margin-left: 2.6em;
    text-align: left;
    text-transform: uppercase;
    font-size: 260%;
}
a {
    text-decoration: none;
}
a:visited {
    color: rgb(126, 190, 190);
}
a:link {
    color: darkblue;
}
a:hover {
    color: blueviolet;
}
table, tr, td, th{
    border: 0.05em solid lightgray;
    border-collapse: collapse;
    padding: 0.9em;
}
tr:hover {
    background-color: rgb(145, 139, 139);
}
table {
    float: right;
    margin-right: 3em;
    margin-top: 3.5em;
    margin-left: 5em;
}
#listCenter{
    text-align: center;
}
.tableMargin {
    margin-right: 11em;
}