body{
    background-color: rgb(75, 73, 73);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}
.Taskleiste {
    background-color: black;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 100;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 330%;
    padding: 12px 16px;
    z-index: 1;
}
.dropdown:hover .dropdown-content {
    display: block;
}
#tasküs{
    color: rgb(38, 142, 206);
}
li{
    list-style: none;
}
p{
    font-size:x-large;
    text-align: left;
    margin-left: 4.5%;
    margin-right: 8%;
}
h1{
    text-align: center;
    color: rgb(38, 142, 206);
    font-size: 500%;
}
.navbar-toggler{
    border-radius: 1px solid white;
}
h2{
    color: rgb(38, 142, 206);
    margin-left: 3.5%;
    font-size: 200%;
    text-decoration: underline;
}
.wm2018{
    margin-left: 27%;
}
a:visited{
    color:rgb(12, 180, 180);
}
img{
    border: 1px solid lightgrey;
    margin-top: 0.2%;
}
h3{
    margin-left: 3.5%;
    color: rgb(38, 142, 206);
}
#AboutUs{
    margin-top: 2%;
}
.flo{
    margin-left: 80%;
    margin-top: -14%;
}
.textflo{
    margin-right: 20%;
}
.david{
    margin-left: 2%;
    margin-top: -13%;
}
.textdavid{
    margin-top: 2%;
    margin-left: 15%;
}
h4{
    margin-left: 4.5%;
    color: rgb(38, 142, 206);
    font-size: 180%;
}
.textjulian{
    margin-top: 5%;
    margin-right: 15%;
}
.julian{
    margin-left: 80%;
    margin-top: -14%;
}
h5{
    margin-left: 4.5%;
    color: rgb(38, 142, 206);
    font-size: 180%;
}
h6{
    color: rgb(38, 142, 206);
    margin-left: 4.5%;
    font-size: 200%;
    text-decoration: underline;
}
a{
    text-decoration: none;
}
.NAVBAR {
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100%;
    font-size: 190%;
}