.all{
    background-color:white;
    color: black;
}
.body{
    margin-left: 1cm;
}
.PointSystem{
    float: right;
    margin-right: 20cm;
    margin-top: -3.4cm;
    text-align: center;
    width: 5cm;
    height: 5cm;
}
td{
    text-align: left;
}
img{
    border: 1px solid gainsboro;
    margin-left: 24.8cm;
    position:absolute;
}