.all{
    background-image: url('test.jpg');
    color: white;
}
.body{
    margin-left: 1cm;
}
.PointSystem{
    border-color: black;
    float: right;
    margin-right: 16cm;
    margin-top: -3cm;
    text-align: center;
    width: 5cm;
    height: 5cm;
}
a:hover{
    opacity: 1;
    display:grid;
}
.Turnierbaum{
    border: 1px solid black;
    margin-left: 27cm;
    margin-top: 0.5cm;
    position:absolute;
}
.WorldCupTrophy{
    border: 1px solid black;
    margin-left: 27cm;
    margin-top: -0.5cm;
    position:absolute;
}
#pointsystem{
    border-color: black;
}